@font-face {
  font-family: old-stamper;
  src: url("src/assets/fonts/old_stamper.ttf");
}

.RecordHeader {
  position: sticky;
  display: flex;
  min-width: 100%;
  padding: 21px 0;
  align-items: baseline;
  top: 0;
  z-index: 1;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;

  &::before {
    content: "";
    position: absolute;
    background: var(--color-gray-light);
    height: 100%;
    width: 100vw;
    top: 0;
    z-index: -1;
    border-bottom: 1px solid var(--color-gray-mild);
   }
}

.isGray {
  color: var(--color-gray-medium)
}

.backButtonLink {
  position: absolute;
  padding: 5px 8px;
  left: -38px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all .3s;

  &:hover {
    border-color: var(--color-gray-mild);
  }

  & svg {
    margin: 0;
  }
}

.leftContent {
  margin-right: auto;
}

.displayName {
  font-size: var(--font-size-24);
  font-weight: 700;
  font-family: var(--font-family-Roboto);
  margin: 0 0 4px 0;
}

.currentState {
  font-family: var(--font-family-oldStamper);
  color: var(--color-black-primary);
  font-size: var(--font-size-24);
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
}

.icon {
  color: var(--color-gray-medium);
  font-size: var(--font-size-16);
}
