@font-face {
  font-family: old-stamper;
  src: url("src/assets/fonts/old_stamper.ttf");
}

.RecordHeader {
  position: relative;
  display: flex;
  width: 100%;
  padding: 21px 0;
  align-items: baseline;
}

.leftContent {
  margin-right: auto;
}

.displayName {
  font-size: var(--font-size-24);
  font-weight: 700;
  font-family: var(--font-family-Roboto);
  margin: 0 0 4px 0;
}

.currentState {
  font-family: var(--font-family-oldStamper);
  color: var(--color-black-primary);
  font-size: var(--font-size-24);
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
}

.iconContent {
  position: absolute;
  left: -30px;
  margin-top: 6px;
}

.icon {
  color: var(--color-gray-medium);
  font-size: var(--font-size-16);
}
