{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "globals": {
    "chrome": "readonly"
  },
  "env": {
    "es2020": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "jsx-a11y", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".ts",
        ".tsx"
      ]
    }],
    "no-use-before-define": "off",
    "import/extensions": ["error", "never"],
    "react/prop-types": 0,
    "no-shadow": "off",
    "global-require": 0,
    "no-unused-expressions": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "import/prefer-default-export": 0,
    "no-unused-vars": 0, //it caused problems with args of typescript
    "react/function-component-definition": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-curly-brace-presence": 1
  }
}
