@font-face {
  font-family: openSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../assets/fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: openSans;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TNR;
  src: url(../assets/fonts/times-new-roman.ttf);
  font-weight: 400;
}

@font-face {
  font-family: TNR;
  src: url(../assets/fonts/times-new-roman-bold.ttf);
  font-weight: 700;
}
