.wrapper {
  width: 36px;
  height: 36px;

  & svg {
    margin: 0;
  }
}

.tertiary {
  border-color: var(--color-gray-mild);
  color: var(--color-gray-medium);
}

.isCircle {
  button{
    border-radius: 50%;
  }
}
