@tokens url('../../../../design-tokens.json') format('style-dictionary3');

.iconButton {
  width: 36px;

  & svg {
    margin: 0;
  }

  &-tertiary {
    border-color: token("colors.basic.gray.mild");
    color: token("colors.basic.gray.medium");
  }
}
