.buttonGroup {
  margin-right: -1px;

  & > div:not(:last-child) button {
    margin-right: -1px;
  }

  & > div:not(:first-child):not(:last-child) button {
    border-radius: 0;
  }

  & > div:first-child button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  & > div:last-child button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

}
