.menu {
  font-family: var(--font-family-openSans);
  font-size: var(--font-size-14);
}

.list {
  border: 1px solid var(--color-blue-primary);
  box-shadow: var(--elevations-3);
}

.item {
  padding-left: var(--font-size-12);
  padding-right: var(--font-size-12);
}
